<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends "users/base.html" %}
    <title>{% block title %} Home Page {% endblock title%}</title>
</head>
<body>

{% block content %}
    <div class="jumbotron" style="text-align: center;">
        <h1  class="display-4" align="center">Welcome</h1>
        <img align="center" src="media/user-mngmnt.jpg" >
        <p class="lead">

        </p>
        <hr class="my-4">

    </div>

{% endblock content %}
</body>
</html>